@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

body {
  margin: 0 auto; }
  body p {
    font-weight: 300;
    font-family: "Lato", sans-serif; }
  body a {
    font-weight: 700; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  min-width: 320px;
  /*display: block;*/
  background-size: cover; }

header {
  height: 900px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.9)), to(rgba(238, 238, 238, 0.9))), url(img/d_header_back.png);
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png);
  background: -o-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png);
  background: linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png);
  color: a0a09f; }
  header .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 120px 0 120px; }
    header .top .menu a, header .top .social a {
      padding-right: 20px; }
    header .top .t_menu {
      display: none; }
    header .top .logo {
      margin-left: -20px; }

.top_text {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*a{
			font-weight: $other-font-weight;
		}*/ }
  .top_text h1, .top_text p {
    text-align: center; }
  .top_text h1 {
    font-size: 50px;
    color: #c0a064;
    margin-bottom: 0;
    font-family: "Playfair Display", serif; }
  .top_text p {
    margin-top: 0;
    letter-spacing: 3px; }
  .top_text .top_block_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 60px;
    /*width: 15%;*/
    text-decoration: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    border: 2px solid #c0a064;
    color: #c0a064;
    margin-top: 20px; }

a {
  color: #a0a09f;
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: black;
    /*font-weight: 700; */ }
  a:active {
    color: #a0a09f; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*margin-right: 135px;
	margin-left: 135px;*/
  margin-bottom: 240px;
  /*items-aling:center;
	image-size: cover;*/ }
  .gallery h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    font-family: "Playfair Display", serif; }
  .gallery .gallery_img {
    padding-top: 30px; }

.gallery_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 770px 370px;
  grid-template-columns: 770px 370px;
  -ms-grid-rows: 370px 370px 780px;
  grid-template-rows: 370px 370px 780px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px; }
  .gallery_grid .item1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3; }
  .gallery_grid .item2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2; }
  .gallery_grid .item3 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3; }
  .gallery_grid .item4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4; }

/*ТРЕТИЙ БЛОК content*/
.collection, .earth, .portraits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: 120px; }

.collection_content, .earth_content, .portraits_content {
  padding-left: 60px; }
  .collection_content h3, .earth_content h3, .portraits_content h3 {
    font-family: "Playfair Display", serif;
    font-size: 30px; }
  .collection_content p, .earth_content p, .portraits_content p {
    width: 85%;
    letter-spacing: 2px; }
  .collection_content .collection_block_button, .collection_content .earth_block_button, .collection_content .portraits_block_button, .earth_content .collection_block_button, .earth_content .earth_block_button, .earth_content .portraits_block_button, .portraits_content .collection_block_button, .portraits_content .earth_block_button, .portraits_content .portraits_block_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*padding: 10px;*/
    width: 25%;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #c0a064;
    color: #c0a064;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    /*margin-left: 60px;*/ }
  .collection_content a, .earth_content a, .portraits_content a {
    padding: 15px 55px; }

.collection_content, .earth_content, .portraits_content {
  margin: auto;
  display: inline-block; }

/*ЧЕТВЕРТЫЙ БЛОК footer*/
.footer {
  margin-bottom: 80px; }
  .footer h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    font-family: "Playfair Display", serif; }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 370px;
  height: 290px;
  margin: 0 auto; }
  .feedback form {
    width: 100%;
    height: 55px; }
    .feedback form input {
      height: 100%;
      width: 100%; }
    .feedback form textarea {
      width: 100%;
      height: 180px;
      resize: none; }

.feedback_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55px; }
  .feedback_button .feedback_block_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: center;
    padding: 10px;
    width: 370px;
    height: 55px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    border: 2px solid #c0a064;
    color: #c0a064;
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.follow {
  margin-top: 120px;
  text-align: center; }
  .follow .social_footer {
    margin-top: 20px;
    margin-left: 20px; }
    .follow .social_footer a {
      padding-right: 20px; }
  .follow p {
    font-size: 16px; }

@media screen and (max-width: 1320px) {
  .gallery_grid {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    row-gap: 9px; } }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%; }
  .gallery_grid .item1 img, .gallery_grid .item4 img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain; }
  .gallery_grid .item2 img, .gallery_grid .item3 img {
    width: 100%;
    height: 92%;
    -o-object-fit: cover;
    object-fit: cover; }
  .collection, .earth, .portraits {
    margin: 0 auto; } }

@media screen and (max-width: 980px) {
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.9)), to(rgba(238, 238, 238, 0.9))), url(img/d_header_back.png) 50% no-repeat;
    background: -webkit-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background: -o-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background: linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background-size: cover; }
  .gallery {
    margin-bottom: 100px; }
    .gallery .gallery_grid .item1 img, .gallery .gallery_grid .item4 img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    .gallery .gallery_grid .item2 img, .gallery .gallery_grid .item3 img {
      width: 100%;
      height: 89%;
      -o-object-fit: cover;
      object-fit: cover; }
  .collection, .earth, .portraits, .collection_content, .earth_content, .portraits_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .earth .earth_img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .earth .earth_content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .collection_content, .earth_content, .portraits_content {
    padding-bottom: 50px;
    padding-left: 0px; }
    .collection_content p, .earth_content p, .portraits_content p {
      padding-left: 100px;
      padding-right: 100px;
      text-align: center; }
  .footer h2 {
    margin-top: 2px; } }

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%; }
  header {
    /*background: url(img/t_t_header_back.png) 100% 100% no-repeat;	*/
    height: 539px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    header .menu, header .social {
      display: none; }
    header .top {
      padding-top: 10px; }
      header .top .logo {
        padding-left: 50px;
        margin-left: 20px; }
      header .top .t_menu {
        display: inline-block;
        padding-right: 60px; }
    header .top_text {
      height: 80%;
      line-height: 1.5; }
      header .top_text h1 {
        font-size: 35px; }
      header .top_text .top_block_button {
        padding: 10px 40px;
        font-size: 12px;
        font-family: "Lato", sans-serif;
        margin-top: 30px; }
  .gallery h2 {
    font-size: 30px;
    margin-top: 80px; }
  .gallery_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 187px 187px;
    grid-template-columns: 187px 187px;
    -ms-grid-rows: 380px 166px 255px;
    grid-template-rows: 380px 166px 255px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    row-gap: 20px; }
    .gallery_grid .item1 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2; }
    .gallery_grid .item2 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: 2;
      -ms-grid-row: 2;
      grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3; }
    .gallery_grid .item3 {
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-column-span: 1;
      grid-column-end: 3;
      -ms-grid-row: 2;
      grid-row-start: 2;
      -ms-grid-row-span: 1;
      grid-row-end: 3; }
    .gallery_grid .item4 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3;
      -ms-grid-row: 3;
      grid-row-start: 3;
      -ms-grid-row-span: 1;
      grid-row-end: 4; }
  .gallery .gallery_grid .item2 img, .gallery .gallery_grid .item3 img {
    height: 166px; }
  .content {
    width: 379px;
    margin: 0 auto; }
    .content .collection {
      width: 379px; }
      .content .collection .collection_img img {
        width: 379px; }
    .content .earth {
      width: 379px; }
      .content .earth .earth_img img {
        width: 379px; }
    .content .portraits {
      width: 379px; }
      .content .portraits .portraits_img img {
        width: 379px; }
    .content .collection_content p, .content .earth_content p, .content .portraits_content p {
      padding-left: 10px;
      padding-right: 10px;
      /*text-align: center;*/ }
    .content .collection_block_button, .content .earth_block_button, .content .portraits_block_button {
      font-size: 12px; }
    .content a {
      padding: 10px 40px; }
  .footer .footer h2 {
    font-size: 25px; }
  .footer .feedback {
    width: 300px; }
  .footer .feedback_button .feedback_block_button {
    font-size: 12px;
    width: 300px; }
  .footer .feedback_button a {
    padding: 10px 10px; } }

@media screen and (max-width: 480px) {
  .wrapper {
    width: 98%; }
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.9)), to(rgba(238, 238, 238, 0.9))), url(img/d_header_back.png) 50% no-repeat;
    background: -webkit-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background: -o-linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background: linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(img/d_header_back.png) 50% no-repeat;
    background-size: cover; }
    header .top {
      padding: 10px 2px; }
    header .top_text h1 {
      font-size: 30px; }
  .content .collection_content h3, .content .earth_content h3, .content .portraits_content h3 {
    font-size: 25px; }
  .footer h2 {
    font-size: 22px; } }

@media screen and (max-width: 320px) {
  .wrapper {
    width: 98%; }
  .gallery {
    margin-bottom: 50px; }
    .gallery .gallery_grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 187px;
      grid-template-columns: 187px;
      -ms-grid-rows: 190px;
      grid-template-rows: 190px;
      -webkit-column-gap: 5px;
      column-gap: 5px;
      row-gap: 5px; }
      .gallery .gallery_grid .item1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2; }
      .gallery .gallery_grid .item2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3; }
      .gallery .gallery_grid .item3 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4; }
      .gallery .gallery_grid .item4 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 4;
        grid-row-start: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 5; }
  .content {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content .collection_content p, .content .earth_content p, .content .portraits_content p {
      padding-left: 2px;
      padding-right: 2px;
      /*text-align: center;*/ }
    .content .collection {
      width: 300px; }
      .content .collection .collection_img img {
        width: 300px; }
    .content .earth {
      width: 300px; }
      .content .earth .earth_img img {
        width: 300px; }
    .content .portraits {
      width: 300px; }
      .content .portraits .portraits_img img {
        width: 300px; } }
